/* Generic */
kbd {
	display: inline-block;
	vertical-align: middle;
	padding: 2px 5px;
	background-color: #fafbfc;
	border: 1px solid #d1d5da;
	border-bottom-color: #d1d5da;
	border-radius: 6px;
	box-shadow: inset 0 -1px 0 #d1d5da;
	font-family: monospace;
	line-height: 10px;
	color: #444d56;
}

/* Form */
.form {
	padding: 10px 0;
}

.form-field {
	margin-bottom: 16px;
}

.form-input-checkbox-wrap {
	display: flex;
}

.form-label {
	display: block;
	font-weight: bold;
}

.form-hint {
	display: block;
	margin-top: 4px;
}

.form-input--text-like {
	display: block;
	width: 80%;
	height: 2.5em;
	margin-top: 6px;
}

.form-input[type="checkbox"] {
	width: auto;
	height: auto;
	padding: 0;
}

.form-actions {}
