.form {
	padding: 10px 0;
}

.form-field {
	margin-bottom: 16px;
}

.form-input-checkbox-wrap {
	display: flex;
}

.form-label {
	display: block;
	font-weight: bold;
}

.form-hint {
	display: block;
	margin-top: 4px;
}

.form-input--text-like {
	display: block;
	width: 80%;
	height: 2.5em;
	margin-top: 6px;
}

.form-input[type="checkbox"] {
	width: auto;
	height: auto;
	padding: 0;
}

.form-actions {}
